StepFunctions/stepfunction_template/StateMachineDefinition.json
{
  "Comment": "A state machine for submitting and monitoring jobs until all required steps completed.",
  "StartAt": "Submit Job",
  "States": {
    "Submit Job": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-southeast-2:111111111111:function:MyServiceFunction",
      "Next": "Wait X Seconds",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "ResultPath": "$.error-info",
        "Next": "Caught Error"
      }]
    },
    "Wait X Seconds": {
      "Type": "Wait",
      "SecondsPath": "$.wait_time",
      "Next": "Check Job Progress"
    },
    "Check Job Progress": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-southeast-2:111111111111:function:MyServiceFunction",
      "Next": "Job Complete?",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "ResultPath": "$.error-info",
        "Next": "Caught Error"
      }]
    },
    "Job Complete?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "solved",
          "Next": "Next Tier?"
        },
        {
          "Variable": "$.status",
          "StringEquals": "terminated",
          "Next": "Job Failed"
        },
        {
          "Variable": "$.status",
          "StringEquals": "cancelled",
          "Next": "Job Cancelled"
        }
      ],
      "Default": "Wait X Seconds"
    },
    "Next Tier?": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Variable": "$.tier_id",
            "StringEquals": "None"
          },
          "Next": "Submit Job"
        }
      ],
      "Default": "All Done"
    },
    "Caught Error": {
      "Type": "Fail",
      "Cause": "Error occurred",
      "Error": "$.message"
    },
    "Job Failed": {
      "Type": "Fail",
      "Cause": "Job failed",
      "Error": "$.message"
    },
    "Job Cancelled": {
      "Type": "Pass",
      "End": true
    },
    "All Done": {
      "Type": "Succeed"
    }
  }
}